src/main/java/br/unipar/programacaointernet/axis2/endereco.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.servicecep.programacaointernet.unipar.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.servicecep.programacaointernet.unipar.br/" name="EnderecoSIBService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.servicecep.programacaointernet.unipar.br/" schemaLocation="http://localhost:8080/endereco?xsd=1"/>
</xsd:schema>
</types>
<message name="boasVindas">
<part name="parameters" element="tns:boasVindas"/>
</message>
<message name="boasVindasResponse">
<part name="parameters" element="tns:boasVindasResponse"/>
</message>
<message name="consultaEnderecos">
<part name="parameters" element="tns:consultaEnderecos"/>
</message>
<message name="consultaEnderecosResponse">
<part name="parameters" element="tns:consultaEnderecosResponse"/>
</message>
<message name="consultaPorCep">
<part name="parameters" element="tns:consultaPorCep"/>
</message>
<message name="consultaPorCepResponse">
<part name="parameters" element="tns:consultaPorCepResponse"/>
</message>
<message name="salvarEndereco">
<part name="parameters" element="tns:salvarEndereco"/>
</message>
<message name="salvarEnderecoResponse">
<part name="parameters" element="tns:salvarEnderecoResponse"/>
</message>
<message name="editarEndereco">
<part name="parameters" element="tns:editarEndereco"/>
</message>
<message name="editarEnderecoResponse">
<part name="parameters" element="tns:editarEnderecoResponse"/>
</message>
<message name="deletarEndereco">
<part name="parameters" element="tns:deletarEndereco"/>
</message>
<message name="deletarEnderecoResponse">
<part name="parameters" element="tns:deletarEnderecoResponse"/>
</message>
<message name="consultaEnderecoPorID">
<part name="parameters" element="tns:consultaEnderecoPorID"/>
</message>
<message name="consultaEnderecoPorIDResponse">
<part name="parameters" element="tns:consultaEnderecoPorIDResponse"/>
</message>
<portType name="EnderecoSEI">
<operation name="boasVindas">
<input wsam:Action="http://service.servicecep.programacaointernet.unipar.br/EnderecoSEI/boasVindasRequest" message="tns:boasVindas"/>
<output wsam:Action="http://service.servicecep.programacaointernet.unipar.br/EnderecoSEI/boasVindasResponse" message="tns:boasVindasResponse"/>
</operation>
<operation name="consultaEnderecos">
<input wsam:Action="http://service.servicecep.programacaointernet.unipar.br/EnderecoSEI/consultaEnderecosRequest" message="tns:consultaEnderecos"/>
<output wsam:Action="http://service.servicecep.programacaointernet.unipar.br/EnderecoSEI/consultaEnderecosResponse" message="tns:consultaEnderecosResponse"/>
</operation>
<operation name="consultaPorCep">
<input wsam:Action="http://service.servicecep.programacaointernet.unipar.br/EnderecoSEI/consultaPorCepRequest" message="tns:consultaPorCep"/>
<output wsam:Action="http://service.servicecep.programacaointernet.unipar.br/EnderecoSEI/consultaPorCepResponse" message="tns:consultaPorCepResponse"/>
</operation>
<operation name="salvarEndereco">
<input wsam:Action="http://service.servicecep.programacaointernet.unipar.br/EnderecoSEI/salvarEnderecoRequest" message="tns:salvarEndereco"/>
<output wsam:Action="http://service.servicecep.programacaointernet.unipar.br/EnderecoSEI/salvarEnderecoResponse" message="tns:salvarEnderecoResponse"/>
</operation>
<operation name="editarEndereco">
<input wsam:Action="http://service.servicecep.programacaointernet.unipar.br/EnderecoSEI/editarEnderecoRequest" message="tns:editarEndereco"/>
<output wsam:Action="http://service.servicecep.programacaointernet.unipar.br/EnderecoSEI/editarEnderecoResponse" message="tns:editarEnderecoResponse"/>
</operation>
<operation name="deletarEndereco">
<input wsam:Action="http://service.servicecep.programacaointernet.unipar.br/EnderecoSEI/deletarEnderecoRequest" message="tns:deletarEndereco"/>
<output wsam:Action="http://service.servicecep.programacaointernet.unipar.br/EnderecoSEI/deletarEnderecoResponse" message="tns:deletarEnderecoResponse"/>
</operation>
<operation name="consultaEnderecoPorID">
<input wsam:Action="http://service.servicecep.programacaointernet.unipar.br/EnderecoSEI/consultaEnderecoPorIDRequest" message="tns:consultaEnderecoPorID"/>
<output wsam:Action="http://service.servicecep.programacaointernet.unipar.br/EnderecoSEI/consultaEnderecoPorIDResponse" message="tns:consultaEnderecoPorIDResponse"/>
</operation>
</portType>
<binding name="EnderecoSIBPortBinding" type="tns:EnderecoSEI">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="boasVindas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultaEnderecos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultaPorCep">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="salvarEndereco">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editarEndereco">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deletarEndereco">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultaEnderecoPorID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="EnderecoSIBService">
<port name="EnderecoSIBPort" binding="tns:EnderecoSIBPortBinding">
<soap:address location="http://localhost:8080/endereco"/>
</port>
</service>
</definitions>